* { margin:0; padding:0; }
img { border:none; }

#supersized {  display:block; position:fixed; left:0; top:0; overflow:hidden; z-index:-1; height:100%; width:100%; margin:0; padding:0; }
#supersized img { width:auto; height:auto; position:relative; display:none; outline:none; border:none; }

#supersized li { display:block; list-style:none; z-index:-30; position:fixed; top:0; left:0; width:100%; height:100%; }
#supersized a { width:100%; height:100%; display:block; }
#supersized li.prevslide img, #supersized li.activeslide img{ display:inline-block; }